/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove list styles for ul */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Dark text color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
.header {
    background-color: #343a40; /* Dark header background color */
    color: #fff;
    padding: 30px;
    text-align: center;
}

.header h1 {
    font-size: 40px;
}

/* Navigation Styles */
.navbar {
    background-color: #343a40; /* Dark navbar background color */
    padding: 20px;
    border-radius: 10px; /* Slightly rounded corners */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/* Main Content Styles */
.main-content {
    padding: 30px;
}

.myPhoto {
    width: 220px;
    height: 220px;
    border-radius: 50%; /* Circular image */
}

.big-title {
    font-size: 55px;
    margin-bottom: 25px;
}

.strip {
    background-color: #343a40; /* Dark strip background color */
    padding: 7px;
    margin-top: 20px;
    border: 1px solid #343a40; /* Dark border */
    border-radius: 10px;
    width: 100%;
}

.border-primary {
    border: 1px solid #343a40; /* Dark border */
    padding: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #343a40; /* Dark border */
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #343a40; /* Dark table header background color */
    color: #fff;
}

/* Footer Styles */
.footer {
    background-color: #343a40; /* Dark footer background color */
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 769px) {
    .navbar a {
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    .strip {
        margin-top: 10px;
    }
}

/* Additional Styles */
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }
.mt-50 { margin-top: 50px; }
.mt-80 { margin-top: 80px; }
.negative-mt-20 { margin-top: -20px; }
.fs-45 { font-size: 45px; }
.width-100 { width: 100%; }
.opacity-05 { opacity: 0.6; }

.certificates {
    width: 650px;
    height: 450px;
}

.completed {
    background-color: rgb(138, 176, 145);
    border-color: rgb(138, 176, 145);
}

.usersSmallPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* Button Styles */
.btn {
    color: #fff; /* Text color for buttons */
    background-color: #343a40; /* Dark button background color */
    border: 1px solid #343a40; /* Dark border color for buttons */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #212529; /* Darker button background color on hover */
    color: #fff; 
}


.accountPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


/* Стилі для класу .col-233 */
.width-300 {
    text-transform: uppercase;round-color: darkt;
    color: white;
     background-color: #212529;
    border-radius: 10px;
    padding: 5px; /* Додавання внутрішнього відступу */
    margin: 5px; /* Додавання зовнішнього відступу */
}
